body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: lightseagreen;

}



.form-body {
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 450px;
    padding: 50px ;
    border-radius: 30px;
    border: 2px solid #000;
    text-align: center;
}



.form-calculator label {
   float: left;
   width: 150px;
   text-align: right;
   padding-right: 10px;
   color: white;
}

.form-calculator input {
   margin-bottom: 20px;
   border-top: none;
   border-left: none;
   border-right:none ;
   outline: none;
   border-bottom: 1px solid #999;
   width: 250px;
   text-align: center;
   color: black;
   
}

.form-calculator input[type="submit"] {
    padding: 10px;
    width:150px;
    border: 1px solid #999;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}

.loading-image {
    color: blue;
}

.tip-result, .loading-image {
    display: none;
}